*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 11px;
}

h1 {
  font-size: 140%;
  font-weight: bold;
  line-height: 1.6;
}

h3 {
  font-size: 100%;
  font-weight: 500;
}

.location {
  background-color: #E8E8E9;
  border-bottom: 1px solid grey;
  border-radius: 5px
  margin: 0%;
  padding: 3% 5%;
  width: 100%
}

.location:hover {
  background-color: #C3C4C4;
}

.content {
  display: inline-block;
}

.arrow {
  float: right;
  padding: 1.5% 5%;
  width: 10%
}

.arrow-left {
  float: left;
  padding-top: 2%;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  background-color: black;
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
}

.restaurant-list {
  padding-top: 50px;
}
